.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    .header-left,
    .header-right {
        display: flex;
    }

    .header-left {
        li {
            list-style-type: none;
            margin: 0 1rem 0 0;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .header-right {
        font-size: 35px;
    }
}